body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #212529;
}

.auth-container {
    width: 100%;
    max-width: 420px;
    padding: 15px;
    margin: auto;
}

.auth-card {
    background-color: #343a40;
    padding: 2rem;
    border-radius: 1rem;
    border: 1px solid #495057;
}
